---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

$doc-font-size: 12px;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
